/* FOOTER 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
p{
  color: aliceblue;
}
footer {
    background-color: #000000;
    padding: 20px 0;
    border-radius: 10px;
  
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-links a {
    margin-right: 10px;
    color: aliceblue;
  
  }
  .social-links img{
    width: 20px;
  }
  
  p {
    margin-top: 10px;
    color: rgb(0, 0, 0);
  }